

<div class="container">
    <div class="row my-xl-5 mx-xl-5 mx-lg-2 my-lg-4 mx-md-2 my-md-2 mx-sm-1 my-sm-1 my-3 mx-2">
        <div class="col-12">
            <div class="p-md-5 p-4 {{ self.bg_color }} rounded-3">
                <div class="container-fluid py-md-5 p-2">
                  <h1 class="display-5 fw-bold">{{ self.headline }}</h1>
                  <p class="col-md-8 fs-4">{{ self.paragraph }}</p>
                  <a href="{{ self.page_link }}" class="btn btn-primary btn-lg" type="button">Example button</a>
                </div>
            </div>
        </div>
    </div>
</div>